package bindings

import (
        "github.com/hashicorp/terraform/helper/schema"
	"github.com/doubret/citrix-netscaler-nitro-go-client/nitro"
	"github.com/doubret/terraform-provider-netscaler/netscaler/utils"
        "log"
        "strings"
        "strconv"
)

{{template "resource" .}}
{{template "resource_get" .}}
{{template "resource_set" .}}
{{template "actions" .}}
