package resources

import (
        "github.com/hashicorp/terraform/helper/schema"
)

func Netscaler{{$.Name|name}}() *schema.Resource {
	return &schema.Resource{
		SchemaVersion: 1,
//                Create:        create_{{$.Name}}_func,
//                Read:          read_{{$.Name}}_func,
//                Update:        update_{{$.Name}}_func,
//                Delete:        delete_{{$.Name}}_func,
		Schema: map[string]*schema.Schema{
                        {{if $.Schema.Key.Name -}}
                        "{{$.Schema.Key.Name}}": &schema.Schema{
                                Type:     schema.TypeString,
                                Required: true,
			},
                        {{end -}}
                        {{if $.Schema.State -}}
                        "{{$.Schema.State}}": &schema.Schema{
                                Type:     schema.TypeString,
                                Optional: true,
			},
                        {{end -}}
                        {{ range $key, $value := $.Schema.Fields -}}
                        "{{$key}}": &schema.Schema{
                                {{if ($value|is_array) -}}
                                Type:     schema.TypeSet,
                                Elem:     &schema.Schema{
                                        Type:     schema.{{$value|tf_schema_type}},
                                },
                                {{else -}}
                                Type:     schema.{{$value|tf_schema_type}},
                                {{end -}}
                                Optional: true,
                                Computed: true,
                                ForceNew: {{not (is_in $key $.Schema.Update)}},
			},
                        {{end -}}
		},
	}
}
